name: migration.dev.yml
on:
  push:
    branches: [ "main" ]

concurrency:
  group: db-dev
  cancel-in-progress: true
jobs:
  migrate:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4
      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Push migrations to DEV
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_PROJECT_REF: ${{ secrets.SUPABASE_PROJECT_REF_DEV }}
        run: |
          supabase link --project-ref "$SUPABASE_PROJECT_REF"
          supabase db push